@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Lato:wght@400;700&family=Marck+Script&family=Pacifico&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Lato:wght@400;700&family=Pacifico&family=Roboto&family=Unbounded&display=swap');


:root{
    --font1: 'Marck Script', cursive;
    --font2: 'Unbounded', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-width: 100vh;
    background-color: gray;
    
}



header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
    
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: 0.5s;
}

section{
    padding-top: 15vh;
    padding-bottom: 15vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font1);
    font-size: 4.5vh;
    font-weight: bold;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: darkgray;
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.548);
    background-attachment: fixed;
    
}

section p{
    padding-bottom: 1.5em;
}

section.imagem p{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.363);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

section#img01{
    background-image: url(assets/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url(assets/background002.jpg);
    background-position: right center;
    background-size: cover;
}
