@charset "utf-8";

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
}


:root{
    --cor01: #3EFA93;
    --cor02: #67BB8D;
    --cor03: #2BAE66;
    --cor04: #89FABC;
    --cor05: #1F7A48;
}

body {
    background-color: var(--cor01);
}

 main p{
    margin: 10px 15px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1em;
    font-size: 1em;
}

main a {
    text-decoration: none;
    padding: 2px 6px;
    background-color: #369c6448;
}

main a:hover{
    text-decoration: underline;
    color: #2bae66;
    transition-duration: 0.5s;
}

header{
    background-color: var(--cor03);
    min-height: 150px;
    background-image: linear-gradient(to bottom,#2bae66, #1f7a48);
}



header h1{
    color: var(--cor02);
    text-align: center;
    font-family: "idroid";
    color: white;
    padding: 10px;
    font-weight: normal;


}
header p{
    text-align: center;
    color: white;
    margin: 10px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 25px;
    font-size: 20px;
}

nav{

    justify-content: center;
    background-color: var(--cor05);

}

nav a{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
    
}

nav a:hover{
    color: var(--cor03);
    background-color: var(--cor03);

}

main{
    background-color: white;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
}

main img{
    margin: auto;
    
}

main h1{
    font-family: "idroid";
    margin: 10px;
    font-weight: normal;
    ;

}


main h2{
    font-family: "idroid";
    text-indent: 10px;
    background-image: linear-gradient(to right, #67BB8D);
    font-weight: normal;
}

main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}

aside{
    background-color: #3EFA93;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    margin-top: 20px;
    
}

aside h3{
    text-indent: 10px;
    background-color: var(--cor04);
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: 0px;
    padding: 3px;
    font-size: 1.5em;
}

aside p{
    margin: 10px;
    padding: 3px;

}

ul{
    list-style-type: none;
    columns: 2;
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    text-decoration: none;
}

footer a{

    color: white;
}

.video{
    margin: 10px;
    background-color: #2BAE66;
    margin: 0px -20px;
    padding-bottom: 59%;
    position: relative;
    border-radius: 10px;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
}


